[submodule "llvm"]
	path = llvm
	url = https://github.com/llvm-mirror/llvm.git
	master = master
[submodule "clang"]
	path = clang
	url = https://github.com/llvm-mirror/clang.git
	master = master
[submodule "libcxx"]
	path = libcxx
	url = https://github.com/llvm-mirror/libcxx.git
