[submodule "llvm"]
	path = llvm
	url = https://github.com/llvm-mirror/llvm.git
	master = master
[submodule "clang"]
	path = clang
	url = https://github.com/llvm-mirror/clang.git
	master = master
[submodule "lld"]
	path = lld
	url = https://github.com/llvm-mirror/lld.git
